.container {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    display: flex;
    width: 100%;
/*     height: 100vh; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .main {
    width: 98vw;
    border-radius: 30px;
/*     background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff; */
/*     height: 4000px; */
/*     padding: 1rem 1rem; */
/*     flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
  
  .titleColor {
    color: rgb(7, 7, 7);
  }
  
  .title a {
    color: #0a0a0a;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  /*.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }*/

  @media (min-width: 0px) {
    .title { font-size: 1rem; }
  }
  
  @media (min-width: 300px) {
    .title { font-size: calc(1.5rem + 1vw);}
  }
  
  @media (min-width: 1001px){
    .title { font-size: 2rem; }
  }
  
  .title {
    text-align: center;
    margin-top: 4rem;
  }
  
  .description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
/*   .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  } */
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
/*     width: 100%; */
  }
  
  .card {
    margin: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .imgPreview {
/*     width: 20vw; */
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px
  }
  
  .imgPreview:hover,
  .imgPreview:focus,
  .imgPreview:active {
    transform: scale(1.01);
    cursor: pointer;
    transition-duration: 1s;
  }
  
/*   .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  } */
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
/*   @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  } */
  
  .error {
    color: red;
    font-weight: bold;
    padding: 2rem;
    background-color: #fad0e0;
    border-radius: 5px;
  }

  .btn_neu body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #efefef;
  }
  .btn_neu {
    padding: 1.5em 5em;
    background: #e0e0e0;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .btn_neu:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .btn_neu:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .btn_neu_download {
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;
    border: none;
    height: 75px;
    width: 75px;
    margin-top: 10px;
  }
  
  .btn_neu_download:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  
  .btn_neu_download:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .download_image {
    height: 40px;
    width: 40px;
  }

  .btn_neu_close {
    display: none
  }


  .warning {
    color: rgb(187, 3, 3);
    font-size: medium;
  }


    /*     Tattoo Options  */
  .tattoo_options {
    width: 75vw;
    align-items: left;

  }

   .h2_options {
    color: #37373d;
    margin-bottom: 2rem;
  } 


  .line {
    width: 50vw;
    height: 2px;
    border: none;
    outline: none;
    background: #37373d;
    margin-bottom: 1.5rem
  }

  .plus {
    width: 20px;
    height: 20px;
    margin-right: 15px
  }

  .section_head {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .select_style {
    height: 100vh;
    width: 80vw;
    margin-left: 1rem;
  }

  .styles_button {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: #37373d;
  }


  .styles_button:hover,
  .styles_button:focus {
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(to top right, rgb(107, 107, 241), rgb(245, 2, 245));
    color: white;
  }

  .styles_button_active {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    transform: scale(1.1);
    cursor: pointer;
    background: linear-gradient(to top right, rgb(107, 107, 241), rgb(245, 2, 245));
    color: white;
  }


  .stylesDrop {
    border: none;
    outline: none;
    width: 80vw;
    background: none;
    display: flex;
    flex-direction: row;
  }

  .line1 {
    width: 75vw;
    height: 1px;
    border: none;
    outline: none;
    background: #9c9c9c;
    margin-bottom: 1.5rem;
  }

/*   .stylesDrop_fixed {
    border: none;
    outline: none;
    width: 10vw;
    background: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 25px;
    bottom: 25px;
  } */


  .stylesDrop_fixed {
/*     padding: 1.5em 5em; */
    background: #e0e0e0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    text-align: center;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 20px;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .stylesDrop_fixed:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .stylesDrop_fixed:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .plus1 {
    width: 20px;
    height: 20px;
  }


  .btn_neu_inspire {
/*     padding: 1.5em 5em; */
    background: #37373d;
    border: none;
    border-radius: .5rem;
    color: white;
    font-size: .7rem;
    margin-bottom: 10px;
    font-weight: 600;
/*     letter-spacing: .1rem; */
    width: 4rem;
    height: 30px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .btn_neu_inspire:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .btn_neu_inspire:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .075),
                inset -2px -2px 4px rgba(0, 0, 0, .15),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }


  @media (min-width: 475px) {
    .btn_neu_inspire {
      width: 6rem;
      font-size: .8rem;
    }
  }

  .upload_image {
    background: #e0e0e0;
    border: none;
    border-radius: .5rem;
    color: #444;
    height: 150px;
    width: 200px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .upload_image:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .upload_image:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .upload_image1 {
    display: none;
  }

  .input_svg {
    width: 100px;
    height: 100px;
    margin-top: 25px
  }


  .generate_options {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn_neu_inspire1 {
    /*     padding: 1.5em 5em; */
        background: #37373d;
        border: none;
        border-radius: .5rem;
        color: white;
        font-size: .8rem;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 600;
    /*     letter-spacing: .1rem; */
        width: 200px;
        height: 30px;
        text-align: center;
        outline: none;
        cursor: pointer;
        transition: .2s ease-in-out;
        box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                    -6px -6px 10px rgba(255, 255, 255, .5),
                    6px 6px 8px rgba(255, 255, 255, .075),
                    6px 6px 10px rgba(0, 0, 0, .15);
      }
  .btn_neu_inspire1:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .btn_neu_inspire1:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .075),
                inset -2px -2px 4px rgba(0, 0, 0, .15),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }


  .file_selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input_svg1 {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .isThere {
/*     padding: 1.5em 5em; */
    background: #e0e0e0;
    border: none;
    border-radius: .5rem;
    color: #37373d;
    font-size: .8rem;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 600;
/*     letter-spacing: .1rem; */
    width: 300px;
    height: 350px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }

  .original_image {
    font-size: 1.5rem;
    padding-top: 10px;
  }