.container {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  
  .main {
    width: 80vw;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    height: 75vh;
    padding: 1rem 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .titleColor {
    color: rgb(7, 7, 7);
  }
  
  .title a {
    color: #0a0a0a;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  /*.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }*/

  @media (min-width: 0px) {
    .title { font-size: 1rem; }
  }
  
  @media (min-width: 300px) {
    .title { font-size: calc(1.5rem + 1vw);}
  }
  
  @media (min-width: 1001px){
    .title { font-size: 2rem; }
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 2rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .card {
    margin: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .imgPreview {
    width: 20vw;
    border-radius: 10px;
  }
  
  .imgPreview:hover,
  .imgPreview:focus,
  .imgPreview:active {
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 1s;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  .error {
    color: red;
    font-weight: bold;
    padding: 2rem;
    background-color: #fad0e0;
    border-radius: 5px;
  }

  .btn_neu body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #efefef;
  }
  .btn_neu {
    padding: 1.5em 5em;
    background: #e0e0e0;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .btn_neu:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .btn_neu:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .btn_neu_download {
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;
    border: none;
    height: 75px;
    width: 75px;
    margin-top: 10px;
  }
  
  .btn_neu_download:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  
  .btn_neu_download:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .download_image {
    height: 40px;
    width: 40px;
  }

  .btn_neu_close {
    display: none
  }