html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e0e0e0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


input {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff,
              -6px -6px 12px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  width: 75vw;
 }
 
input:focus {
  outline-color: white;
  place-content: "Enter your message!";
 }

/*below here*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
.logo{
  font-size: 1.2rem;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
/*   background-color: #f1f1f1; */
  background-color: rgb(56, 56, 56);
  color: rgba(255, 255, 255, .7);
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.nav_menu-bar div.active{
  rotate: 45deg;
}

.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  width: 100vw;
  row-gap: 2rem;
  right: -100vw;
  padding: 24px 16px;
  transition: all 0.8s;
  min-height: 100vh;
/*   background-color: #f1f1f1; */
  background-color: rgb(56, 56, 56);
  color: rgba(255, 255, 255, .7);
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px){
  .nav__menu-list{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    width: 35vw;
    row-gap: 2rem;
    right: -35vw;
    padding: 24px 16px;
    transition: all 0.8s;
    min-height: 100vh;
/*     background-color: #f1f1f1; */
    background-color: rgb(56, 56, 56);
    color: rgba(255, 255, 255, .7);
    align-items: center;
    justify-content: center;
  }
}

.nav__menu-list.active{
  right: 0;
}
.nav__link{
/*   font-size: 18px;  */
  font-size: 1.5rem;
  position: relative;
  transition: all 0.2s;
}

@media screen and (min-width: 460px){
  .logo{
    font-size: 1.5rem;
  }
}


.nav__link:hover{
 font-weight: bold;
}

.center{
/*   min-height: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.menu_session_email {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(2, 161, 55);
}

.menu_check {
  width: 25px;
  height: 25px;
  margin-top: 80px;
}